<form action="/auth/submit-complaint" method="POST" class="add-complaint-form" id="product-form">
  <h2>Send Complaint</h2>
  <div>
    <label>Order ID:</label>
    <input type="text" id="order-id-text", name="ordernumber" required>
  </div>

  <div>
    <label>Complaint:</label>
    <textarea name="complain" rows="4" required></textarea>
  </div>

  <button type="submit">Submit</button>
</form>